@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap");

html {
  font-family: "Rubik", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: none;
}

.hero {
  display: grid;
  text-align: center;
  padding: 0em 3em 2em 3em;
}

.hero-image {
  display: none;
}

.scroll-text {
  margin-top: 3em;
}

.scroll {
  margin-top: 1em;
}

.circle {
  animation: circleAnim 1.75s infinite alternate-reverse;
}

@keyframes circleAnim {
  from {
    transform: translate(0);
    z-index: 5;
  }

  to {
    transform: translate(0, 45px);
    z-index: 5;
  }
}

.intro {
  font-weight: medium;
}

.experience {
  position: relative;
  text-align: center;
  background: #a6e1fa;
}

.experience-cards {
  display: grid;
  place-items: center;
  box-sizing: border-box;
}

.experience-title {
  font-size: 2em;
  font-weight: bold;
  padding-top: 1em;
  margin-bottom: 2em auto;
}

.card {
  cursor: pointer;
  background: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  margin: 1em;
  width: 80%;
  min-width: 205px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2em;
  text-decoration: none;
}

.company-image {
  margin: auto;
}

.card-image {
  width: 50%;
}

.company-description {
  font-weight: bold;
  font-size: 1.75rem;
}

.company-title {
  font-weight: medium;
  font-size: 1.5rem;
}

.experience-tags {
  padding: none;
}

.tags {
  display: inline-block;
  border-style: none;
  font-size: 1rem;
  margin-right: 0.5em;
  padding: 0.8em;
  border-radius: 1em;
  color: #ffffff;
  background-color: #1b3fab;
  margin-bottom: 0.5em;
  text-align: center;
}

@media only screen and (min-width: 670px) {
  .experience-title-container {
    text-align: left;
  }
}

@media only screen and (min-width: 740px) {
  .card {
    flex-direction: row;
  }

  .company-image {
    margin: auto;
    display: block;
  }

  .experience-info {
    text-align: right;
    margin-left: 1em;
  }

  .experience::before {
    content: "";
    position: absolute;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    opacity: 40%;
    background: #0e6ba8;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .experience-title {
    font-size: 2em;
    padding-top: 2.7em;
    padding-left: 2.9em;
    font-weight: bold;
    margin-bottom: 3em;
  }

  .hey {
    font-size: 2em;
  }

  .intro {
    font-size: 1.65em;
  }
}

@media only screen and (max-width: 480px) {
  .card {
    max-width: 205px;
  }
  
  .intro {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1020px) {
  .hero {
    height: 90%;
    display: grid;
    text-align: center;
    grid-template-columns: 55% auto;
    padding: 0;
  }
  .hero-content {
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
  }
  .hey {
    font-weight: bold;
    font-size: 3.5em;
    padding-top: 1em;
  }
  .intro {
    font-weight: bold;
    font-size: 1.9em;
  }
  .hero-image {
    display: unset;
    margin-left: -5%;
    width: 100%;
    margin-top: 10%;
    padding-top: 3em;
  }
  .scroll-text {
    font-weight: medium;
    font-size: 1.25em;
  }
  .experience::before {
    width: 200px;
    height: 200px;
  }
  .experience-title {
    font-size: 3em;
    padding-top: 1.5em;
    padding-left: 1.7em;
    margin-bottom: 2.5em;
  }
}
